ul{
    margin: 0;
    padding:0;
    list-style: none;
    height: 36px;
    line-height: 36px;
    background-color: rgb(29, 76, 142);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
li{
    float: left;
    border-right: 0px solid #156ee2 ;
}
a{
    display: block;
    padding: 0 28px;
    color: rgb(206, 196, 196);
    text-decoration: none;
}

a:hover{
    background-color: rgb(46, 36, 122);
}

body{
    background-color: #efefef;
    font-family: sans-serif;
}
.contact-box
{
    width: 500px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 #999;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;

}
form
{
    margin: 35px;
}
.input-field
{
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;
}
.textarea-field
{
    height: 100px;
    padding-top: 10px;
    border: 1px solid #777;
    
}
.btn
{
    border-radius: 20px;
    color: #fff;
    margin-top: 18px;
    padding: 10px;
    background-color: #47c35a;
    font-size: 12px;
    border: none;
    cursor: pointer;
}
 
.foot{
    
    margin: 0;
    padding:0;
    list-style: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height:50px;
    font-size: 24px;
    background:rgb(29, 76, 142);
}
